




/* header & banner section styles */

 .banner-item{
    background-image: url(../images/banner/banner2.png);
    text-align: right;
    padding: 216px 230px 167px 840px;
 }
 .title{
    font-size: 65px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
 }
 .des{
   color: #444343;
   font-size: 16px;
 }
 .btn{ 
   color: white;
   background-color: #F15B22;
   padding: 20px 26px;
   font-size: 20px;
   font-weight: 600;
   border: none;
   margin-top: 30px;
 }